<fieldset data-form-navigation-target="section" data-type="Address" class="section">
  <div class="my-5">
    <%= form.label :address %>
    <%= form.text_field :address, class: "input-field" %>
  </div>
  
  <button type="button" data-action="click->form-navigation#next">Next</button>
</fieldset>