<fieldset data-form-navigation-target="section" data-type="Arv" class="section hidden h-full">
  <div class="my-5">
    <%= form.label :arv, "After Repair Value*", class: "text-xl font-bold" %>
    <p>What do you think the property's market value will be when you complete the rehab?</p>
    <p>*Our sample term sheet will set a maximum loan-to-value of 70%</p>
    <%= form.number_field :arv, class: "input-field underline-only bg-stone-200", placeholder: "Type your answer here..." %>
  </div>

  <button type="button" data-action="click->form-navigation#back" class="bt-form-back">Back</button>
  <button type="button" data-action="click->form-navigation#next" class="bt-form-next">Next</button>
</fieldset>