<fieldset data-form-navigation-target="section" data-type="PurchasePrice" class="section hidden h-full">
  <div class="my-5">
    <%= form.label :purchase_price, "Purchase Price*", class: "text-xl font-bold" %>
    <p>What are you purchasing the property for? Please include any assignment fee.</p>
    <p>*Our sample term sheet will set a maximum loan-to-cost of 90%.</p>
    <%= form.number_field :purchase_price, class: "input-field underline-only bg-stone-200", placeholder: "Type your answer here..." %>
  </div>

  <button type="button" data-action="click->form-navigation#back" class="bt-form-back">Back</button>
  <button type="button" data-action="click->form-navigation#next" class="bt-form-next">Next</button>
</fieldset>