@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  height: 100%;
  margin: 0;
}

@layer components {
  .input-field { @apply 
    block border-green-400 outline-none 
    px-3 py-2 mt-2 w-full
  }
}

.hidden {
  display: none;
}

.bt-form-next, .bt-form-clear {
  font-family: inherit;
  line-height: initial;
  font-weight: 700;
  outline: none;
  border: 1px solid transparent;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;
  padding-block: 6px;
  padding-inline: 14px;
  min-height: 40px;
  background-color: rgb(89, 103, 45);
  color: rgb(255, 255, 255);
  border-radius: 4px;
  cursor: pointer;
}

.bt-form-back {
  font-family: inherit;
  line-height: initial;
  font-weight: 700;
  outline: none;
  border: 1px solid transparent;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;
  padding-block: 6px;
  padding-inline: 14px;
  min-height: 40px;
  background-color: rgb(182, 182, 182);
  color: rgb(255, 255, 255);
  border-radius: 4px;
  cursor: pointer;
}

.input-field.underline-only {
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  width: 100%;
  box-sizing: border-box;
  transition: border-bottom-color 0.3s, border-bottom-width 0.3s;
}

.input-field.underline-only:focus {
  outline: none; 
  border-bottom-color: #000;
  border-bottom-width: 2px;
  box-shadow: none;
}

.content-scroll-personal-information {
  width: 100%; 
  height: 400px; 
  overflow-y: auto; 
  overflow-x: hidden;
  padding-top: 1.5rem;
}

.content-scroll-errors-message {
  width: 100%; 
  height: 100px; 
  overflow-y: auto; 
  overflow-x: auto;
}

.bg-wrap {
  position: relative;
}

.bg-wrap:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('profit_hero-home_page.jpeg');
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
}

.content-loans {
  position: relative;
}