<nav class="mx-auto flex max-w-7xl items-center justify-center gap-x-4 p-6 lg:px-8" aria-label="Global">
  <div class="flex lg:flex-1 justify-center">
    <%= link_to loans_home_path, class: "-m-1.5 p-1.5" do %>
      <span class="sr-only">Your Company</span>
      <%= image_tag("longleaf_lending_logo.png", alt: "Longleaf Lending Logo", class: "h-12 w-auto") %>
    <% end %>
  </div>
</nav>